/* Base colors for Tailwind. */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #fff;
    --black: #000;
    --gray-050: #fafafa;
    --gray-100: #ebebeb;
    --gray-200: #e1e1e1;
    --gray-300: #c1c1c1;
    --gray-400: #a1a1a1;
    --gray-500: #818181;
    --gray-600: #616161;
    --gray-700: #414141;
    --gray-800: #2b2b2b;
    --gray-850: #1a1a1a;
    --gray-900: #111;
    --red-050: snow;
    --red-100: #ffe5e9;
    --red-200: #fbbfc7;
    --red-300: #ff909f;
    --red-400: #ff7082;
    --red-500: #ff455d;
    --red-600: #d92038;
    --red-700: #c11027;
    --red-800: #8f0718;
    --red-900: #341418;
    --orange-050: #fff8f3;
    --orange-100: #ffe8d8;
    --orange-200: #ffc59b;
    --orange-300: #fc9c66;
    --orange-400: #fd812d;
    --orange-500: #f35815;
    --orange-600: #b83a05;
    --orange-700: #962d00;
    --orange-800: #672002;
    --orange-900: #3c1403;
    --yellow-050: #fffbe4;
    --yellow-100: #fff1a8;
    --yellow-200: #fed54a;
    --yellow-300: #f2b600;
    --yellow-400: #d19f03;
    --yellow-500: #a78103;
    --yellow-600: #7d5903;
    --yellow-700: #5c4716;
    --yellow-800: #41320c;
    --yellow-900: #281e03;
    --green-050: #effff3;
    --green-100: #d7fbdf;
    --green-200: #a9ecb8;
    --green-300: #75db8c;
    --green-400: #40d763;
    --green-500: #27b648;
    --green-600: #13862e;
    --green-700: #19652a;
    --green-800: #10481d;
    --green-900: #0a2b13;
    --blue-050: #f3fbff;
    --blue-100: #ddf2ff;
    --blue-200: #a9dffe;
    --blue-300: #73c7f9;
    --blue-400: #47b7f8;
    --blue-500: #1e9de7;
    --blue-600: #0b6ec5;
    --blue-700: #144eb6;
    --blue-800: #0e3682;
    --blue-900: #08204e;
    --purple-050: #f9f8ff;
    --purple-100: #eeeaff;
    --purple-200: #d4c9fe;
    --purple-300: #b7a5fb;
    --purple-400: #a18bf5;
    --purple-500: #8467f3;
    --purple-600: #5e49af;
    --purple-700: #4b3990;
    --purple-800: #3e1f75;
    --purple-900: #27124a;

    /* --text-blue: var(--blue-600);
    --text-blue-dark: var(--blue-700);
    --text-green: var(--green-600);
    --text-orange: var(--orange-600);
    --text-red: var(--red-600);
    --text-red-disabled: var(--red-300);
    --text-purple: var(--purple-600);
    --graph-border: var(--gray-200);
    --graph-blue-fill: var(--blue-100);
    --graph-blue-light: var(--blue-300);
    --graph-blue-dark: var(--blue-600);
    --graph-green-fill: var(--green-100);
    --graph-green-light: var(--green-300);
    --graph-green-dark: var(--green-600);
    --graph-red-fill: var(--red-100);
    --graph-red-light: var(--red-300);
    --graph-red-dark: var(--red-600);
    --graph-gray-fill: var(--gray-100);
    --graph-gray-dark: var(--gray-400);
    --trackline-gradient-stop-1: var(--white);
    --trackline-gradient-stop-2: var(--gray-100);
    --trackline-gradient-stop-3: var(--purple-400);
    --icon-secondary-opacity: 0.5;
    --icon-tertiary-opacity: 0.3;
    --icon-stroke-green: var(--green-600); */
  }
}
