###############################
###### REQUIRED ENV VARS ######
###############################

# Set this to your `localhost` URL when developing locally and to the URL you
wish to send users to in production.
ALLOWED_REDIRECT_URIS=https://link.piedpiper.com

SESSION_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.vercel.app/32

###############################
###### OPTIONAL ENV VARS ######
###############################

# Fiber - used to register accounts into a source.
FIBER_ENV_ID=
FIBER_ENV_SECRET=
FIBER_SOURCE_NAME=
